.UserForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.UserInput {
    padding: 20px;
    font-size: 2em;
    border: 0;
    width: 510px;
}
